
.cardImage>img{
    border-radius: 20px !important;
}

.cardText{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.cardText p{
    color: rgb(139,156,168);
    font-weight:bolder;
}

.ratingCost{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
