.container{
    height: 100vh;
    width: 100vw;
    background-image: url('https://images.unsplash.com/photo-1521017432531-fbd92d768814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.content{
position: relative;
    top: 50%;
background-color: white;
height: 50vh;
border-radius: 20px 20px 0px 0px;

padding: 50px;
}


.restaurant_address_rating{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 5px;

}



.restaurantDetails{
    margin-top: 30px;
}



